body {
  padding: 0;
  margin: 0;
}
h1 {
  display: grid;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

cal-list > li {
  text-decoration: none !important;
}
.cal-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 100px);

  grid-gap: 10px;

  padding-right: 5%;
}

.cal-holder > ul {
  justify-content: center;
}

li {
  display: grid;
  font-size: 25px;
  background: chocolate;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#lastm {
  opacity: 0.5;
}
